.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary[disabled] {
background: #0044b3 !important;
border: 1px solid #0044b3 !important;
}

.h2.section-title {
color: #0044b3 !important;
}

.a {
color: #0044b3 !important;
}

@import "imports/fedora";
@import "imports/fonts";

@import "layouts/default";
@import "layouts/default-responsive";
